{% extends "layout.html" %}
{% block content %}
   <div>
       <!-- form validation errors don't show without the novalidate on line 5. -->
       <form method="POST" action=""novalidate enctype="multipart/form-data">
           {{ form.hidden_tag() }}
           <fieldset class="form-group">
               <legend class="border-bottom mb-4">Post Benefit</legend>
               <div class="form-group">
                   {{ form.name.label(class="form-control-label") }}
                   {% if form.name.errors %}
                           {{ form.name(class="form-control form-control-lg is-invalid") }}
                           <div class="invalid-feedback">
                               {% for error in form.name.errors %}
                                   <span>{{ error }}</span>
                               {% endfor %}
                           </div>
                       {% else %}
                           {{ form.name(class="form-control form-control-lg") }}
                       {% endif %}
               </div>
               <div class="form-group">
                   {{ form.description.label(class="form-control-label") }}
                   {% if form.description.errors %}
                           {{ form.description(class="form-control form-control-lg is-invalid") }}
                           <div class="invalid-feedback">
                               {% for error in form.description.errors %}
                                   <span>{{ error }}</span>
                               {% endfor %}
                           </div>
                       {% else %}
                           {{ form.description(class="form-control form-control-lg") }}
                       {% endif %}
               </div>
               <div class="form-group">
                   {{ form.benefit_requirement.label(class="form-control-label") }}
                   {% if form.benefit_requirement.errors %}
                           {{ form.benefit_requirement(class="form-control form-control-lg is-invalid") }}
                           <div class="invalid-feedback">
                               {% for error in form.benefit_requirement.errors %}
                                   <span>{{ error }}</span>
                               {% endfor %}
                           </div>
                       {% else %}
                           {{ form.benefit_requirement(class="form-control form-control-lg") }}
                       {% endif %}
               </div>
               <div class="form-group">
                   <form method="post" enctype="multipart/form-data">
                     <input type="file" name="file">
                   </form>
 
                   <!-- {{ form.benefit_image.label(class="form-control-label") }}
                   {% if form.benefit_image.errors %}
                           {{ form.benefit_image(class="form-control form-control-lg is-invalid") }}
                           <div class="invalid-feedback">
                               {% for error in form.benefit_image.errors %}
                                   <span>{{ error }}</span>
                               {% endfor %}
                           </div>
                       {% else %}
                           {{ form.benefit_image(class="form-control form-control-lg") }}
                       {% endif %} -->
               </div>
               <div class="form-group">
                   {{ form.benefit_duration.label(class="form-control-label") }}
                   {% if form.benefit_duration.errors %}
                           {{ form.benefit_duration(class="form-control form-control-lg is-invalid") }}
                           <div class="invalid-feedback">
                               {% for error in form.benefit_duration.errors %}
                                   <span>{{ error }}</span>
                               {% endfor %}
                           </div>
                       {% else %}
                           {{ form.benefit_duration(class="form-control form-control-lg") }}
                       {% endif %}
               </div>
               <div class="form-group">
                   {{ form.benefit_link.label(class="form-control-label") }}
                   {% if form.benefit_link.errors %}
                           {{ form.benefit_link(class="form-control form-control-lg is-invalid") }}
                           <div class="invalid-feedback">
                               {% for error in form.benefit_link.errors %}
                                   <span>{{ error }}</span>
                               {% endfor %}
                           </div>
                       {% else %}
                           {{ form.benefit_link(class="form-control form-control-lg") }}
                       {% endif %}
               </div>
               <div class="form-group">
                   {{ form.benefit_start_date.label(class="form-control-label") }}
                   {% if form.benefit_start_date.errors %}
                           {{ form.benefit_start_date(class="form-control form-control-lg is-invalid") }}
                           <div class="invalid-feedback">
                               {% for error in form.benefit_start_date.errors %}
                                   <span>{{ error }}</span>
                               {% endfor %}
                           </div>
                       {% else %}
                           {{ form.benefit_start_date(class="form-control form-control-lg") }}
                       {% endif %}
               </div>
               <div class="form-group">
                   {{ form.benefit_end_date.label(class="form-control-label") }}
                   {% if form.benefit_end_date.errors %}
                           {{ form.benefit_end_date(class="form-control form-control-lg is-invalid") }}
                           <div class="invalid-feedback">
                               {% for error in form.benefit_end_date.errors %}
                                   <span>{{ error }}</span>
                               {% endfor %}
                           </div>
                       {% else %}
                           {{ form.benefit_end_date(class="form-control form-control-lg") }}
                       {% endif %}
               </div>
               <div class="form-group">
                   {{ form.benefit_status.label(class="form-control-label") }}
                   {% if form.benefit_status.errors %}
                           {{ form.benefit_status(class="form-control form-control-lg is-invalid") }}
                           <div class="invalid-feedback">
                               {% for error in form.benefit_status.errors %}
                                   <span>{{ error }}</span>
                               {% endfor %}
                           </div>
                       {% else %}
                           {{ form.benefit_status(class="form-control form-control-lg") }}
                       {% endif %}
               </div>
               <div class="form-group">
                   {{ form.benefit_created_by.label(class="form-control-label") }}
                   {% if form.benefit_created_by.errors %}
                           {{ form.benefit_created_by(class="form-control form-control-lg is-invalid") }}
                           <div class="invalid-feedback">
                               {% for error in form.benefit_created_by.errors %}
                                   <span>{{ error }}</span>
                               {% endfor %}
                           </div>
                       {% else %}
                           {{ form.benefit_created_by(class="form-control form-control-lg") }}
                       {% endif %}
               </div>
               <div class="form-group">
                   {{ form.benefit_updated_on.label(class="form-control-label") }}
                   {% if form.benefit_updated_on.errors %}
                           {{ form.benefit_updated_on(class="form-control form-control-lg is-invalid") }}
                           <div class="invalid-feedback">
                               {% for error in form.benefit_updated_on.errors %}
                                   <span>{{ error }}</span>
                               {% endfor %}
                           </div>
                       {% else %}
                           {{ form.benefit_updated_on(class="form-control form-control-lg") }}
                       {% endif %}
               </div>
           </fieldset>
           <div class="form-group"">
               {{ form.submit(class="btn btn-outline-info") }}
           </div>
       </form>
   </div>
{% endblock content %}