{% extends "layout.html" %}
{% block content %}
    <h1>Explore All Benefits</h1>
    <div class="container">
      <div class="row">
        {% for benefit in benefits.items %}
            <div class="col-12 col-md-6 mb-4">
              <h2>{{ benefit.name }}</h2>
              <div class="media">
                <img class="rounded img-fluid account-img" src="{{ profile_pic }}" alt="User profile picture">
              </div>
              <h5>Description</h5>
              <p>{{ benefit.description | safe }}</p>
              <h5>Requirement</h5>
              <p>{{ benefit.requirement | safe }}</p>
              <p> Posted on: <span>{{ benefit.benefit_start_date.strftime('%Y-%m-%d') }}</span><br>
              Ends on: <span>{{ benefit.benefit_end_date.strftime('%Y-%m-%d') }}</span></p>
              <h5>Posted By {{ benefit.benefit_created_by }}</h5>
              <a class="mb-3" href="{{ url_for('user_benefits', username=benefit.benefit_created_by) }}"> {{ benefit.benefit_created_by }} </p>
        
              <button data-link={{ benefit.link }} class="btn btn-primary apply-button">Apply</button>
            </div>
        {% endfor %}
      </div>
    </div>
    {% for page_num in benefits.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if benefits.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('explore_benefits', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('explore_benefits', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}