{% extends "layout.html" %}
{% block content %}
    <h1>Explore All Benefits</h1>
    <div class="container">
      <div class="row">
        {% for benefit in benefits %}
            <div class="col-12 col-md-6 mb-4">
              <h2>{{ benefit.name }}</h2>
              <img src="{{ benefit.image }}" alt="benefit image" class="rounded d-block mx-auto">
              <p>{{ benefit.description }}</p>
              <p>{{ benefit.eligibility }}</p>
              <p> Posted on: <span>{{ benefit.date_posted }}</span><br>
              Ends on: <span>{{ benefit.end_date }}</span></p>
        
              <button data-link={{ benefit.link }} class="btn btn-primary apply-button">Apply</button>
            </div>
        {% endfor %}
      </div>
    </div>
{% endblock content %}