<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>BenefitsHub-Nigeria</title>
</head>
<body>
    <div class="container-fluid pt-5 bg-secondary text-black text-center">
        <header>
            <h1>Welcome to BenefitsHub</h1>
            <navbar class="navbar bg-body-tertiary">
                <a href="home" class="nav-link aria-current="page">Home</a>
                <a href="Explore" class="nav-link" aria-current="page">Explore Benefits</a>
                <a class="nav-link" aria-current="page">Register</a>
                <a class="nav-link" aria-current="page">Login</a>
            </navbar>
            <img src="../static/assets/img_2.jpeg" class="rounded d-block mx-auto" alt="BenefitsHub-Nigeria"><br>
            </header>
    
    <h2>About BenefitsHub</h2>
    <p>BenefitsHub is a flask web application where you can explore and apply for all current benefits offered by goverment agencies in Nigeria to help sustain people who are currently unemployed. Do not lose out on government intervention because you missed the information.</p>
    <p>It is your one-stop shop for everything empowerment, grants, low-interest loans and a wide range of other benefits offered by the government. We update you with all programs of government that is aimed as a palliative to cushion the effect of the global economic downturn.</p>
    <p>Simply create an account and login to apply and track the status of your application.</p>
    
    <section>
        <h2>Current benefits</h2>
        <p>The following are the current benefits offered by the government in Nigeria.</p><br>
        <div class="row">
            <div class="col">
                <a href="#">Npower</a><br>
                <img src="../static/assets/npower.jpeg" class="rounded d-block mx-auto" alt="Npower logo""><br>
                <p>The Npower program engages graduates who are attached to various sectors to gain work experience and improve productivity.</p>
                <button>Apply</button>
            </div><br>
        
        <div class="col">
            <a href="#">3MTT</a><br>
            <img src="../static/assets/3mtt.jpeg"  class="rounded d-block mx-auto" alt="3MTT logo">
            <p>The 3MTT program is aimed at training million tech talents, who will become skilled with in-demand tech skills in various field.</p>
            <button>Apply</button>
        </div><br>
        <div class="col">
            <a href="#">coming soon..</a><br>
            <img src="../static/assets/img_0.jpeg" class="rounded d-block mx-auto" alt="Npower logo"">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            <button>Apply</button>
        </div><br>
        <div class="col">
            <a href="#">coming soon...</a><br>
            <img src="../static/assets/img_0.jpeg" class="rounded d-block mx-auto" alt="Npower logo"">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button>Apply</button>
        </div><br>
        <div class="col">
            <a href="#">coming soon...</a><br>
            <img src="../static/assets/img_0.jpeg" class="rounded d-block mx-auto" alt="Npower logo"">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button>Apply</button>
        </div><br>
        <div class="col">
            <a href="#">coming soon...</a><br>
            <img src="../static/assets/img_0.jpeg" class="rounded d-block mx-auto" alt="Npower logo"">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button>Apply</button>
        </div><br>
        </div>
    </section><br>

    <footer style="text-align:center"><button>Contact Me</button></footer>
</di>
</body>
</html>
